@model Domain.Contracts.V1.ChangePasswordContract
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
@{ 

}
<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/logo.svg" alt="logo" class="logo">
    </div>
    <p class="login-card-description">Changez votre mot de passe</p>
    <form asp-controller="Authentication" asp-action="ChangePassword">
        <div class="row">
            <div class="form-group" hidden>
                <input asp-for="UserId" class="form-control" />
            </div>
        </div>
    
        <input class="btn btn-block login-btn mb-4" type="submit" value="Changer le mot de passe">
    </form>
</div>
