
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/logo.svg" alt="logo" class="logo">
    </div>
    <p class="login-card-description">Mail verifié</p>
    <b>Maintenant, vous pouvez vous connecter facilement</b>
    <a href="@Url.Action("Login","Authentication")" class="forgot-password-link">Connexion</a>
    <div style="height:150px"></div>
</div>
