@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/logo.svg" alt="logo" class="logo">
    </div>
    <p class="login-card-description">Mail envoyé</p>
    <b>Allez vérifier votre boîte de réception</b>
    <div style="height:150px"></div>
</div>
