@model Domain.Contracts.V1.ForgotEmailContract
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/logo.svg" alt="logo" class="logo">
    </div>
    <p class="login-card-description">Mot de passe oublié</p>
    <form 
    asp-controller="Authentication" 
    asp-action="ForgotPassword"
        id="ItemForm"
        autocomplete="off"
        data-ajax="true"
        data-ajax-method="POST"
        data-ajax-success="OnForgotPasswordSuccess(data)">    
        <input class="btn btn-block login-btn mb-4" type="submit" value="Envoyer un e-mail">
    </form>
    <a href="@Url.Action("Login","Authentication")" class="forgot-password-link">Connexion</a>
</div>
