@model Domain.Contracts.V1.UserLogin
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body">
    <div class="brand-wrapper">
        <img src="/Login/images/logo.svg" alt="logo" class="logo">
    </div>
    <p class="login-card-description">Connectez-vous à votre compte</p>
    <form asp-controller="Authentication"
          asp-action="Login"
          id="ItemForm"
          autocomplete="off"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-begin="onBegin()"
          data-ajax-success="OnLoginSuccess(data)">
        <div class="form-group">
            <label for="email" class="sr-only">Mail</label>
            <input asp-for="Email" type="email" id="email" class="form-control" placeholder="Mail">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>      
        @*<button class="btn btn-block login-btn mb-4" type="submit">Submit</button>*@
        <input class="btn btn-block login-btn mb-4" type="submit" value="Connexion">
    </form>
    <a href="@Url.Action("ForgotPassword","Authentication")" class="forgot-password-link">mot de passe oublié?</a>

</div>


<section class="wrapper dark" style="display:none">
    <div class="spinner">
        <i></i>
        <i></i>
        <i></i>       
    </div>
</section>

<style>
  
</style>
